{% block content %}
    <html>
    <head>
        <title>#guessthatsongday!</title>
        <meta charset='utf-8'>
        <script type="text/javascript" src="https://cdn.rawgit.com/brython-dev/brython/master/www/src/brython.js"></script>
        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    </head>
    <body> 
        <div>Enter an artist!<input id="artist_input"></div>
        <div>Enter a song!<input id="song_input"></div>
        <button id = "display_song_summary_button" onclick="display_song()">Display</button>
        <div id = "song_html">
            {{ song_html }}
        </div>

    </body>
</html>
{% endblock %}

{% block imported_js %}
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
{% endblock %}
    
{% block js %}
    <script>
        function display_song(){
            var artist = $("#artist_input").val();
            var song = $("#song_input").val();
            if (artist != "" && song != ""){
                $.ajax({
                    type: "POST",
                    url: "",
                    data: {
                        "artist": artist,
                        "song": song,
                        "csrfmiddlewaretoken": "{{ csrf_token }}",
                    },
                    success: function(data){
                        console.log("SUCCESS!!!");
                    },
                    failure: function(data){
                        console.log("FAILURE!!!");
                    },
                });
            } else{
                console.log("enter something ho");
            }
        }
        alert("{{song_html}}");
    </script>

{% endblock %}
