{% block content %}
    <html>
    <head>
        <title>#guessthatsongday!</title>
        <meta charset='utf-8'>
        <script type="text/javascript" src="https://cdn.rawgit.com/brython-dev/brython/master/www/src/brython.js"></script>
        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    </head>
    <body> 
        <div>Enter an artist!<input id="artist_input"></div>
        <div>Enter a song!<input id="song_input"></div>
        <button id = "display_song_summary_button">Display</button>
        <div id = "song_html">
            {{ song_html }}
        </div>

    </body>
</html>
{% endblock %}

{% block imported_js %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
{% endblock %}
    
{% block js %}

    $.ajax({
        type: "POST",
        url: "/home/",
        data: {
            "artist": $("#artist_input"),
            "song": $("#song_input"),
            "csrfmiddlewaretoken": "{{ csrf_token }}",
        },
        success: function(data){
            console.log("SUCCESS!!!");
        },
        failure: function(data){
            console.log("FAILURE!!!");
        },
    });

{% endblock %}
